@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --backgroundTwo: 7, 17, 30;
    --title: 255, 255, 255;
    --subTitles: 96, 165, 250;
    --details-color: 59, 130, 246;
};

body {
    height: 100%;
    margin: 0;
    background: linear-gradient(125deg,
    #1F2A44 0%,
    #3A4F7A 70%,
    #5C7AEA 100%
    );
};

h1{
    font-family: var(--font-exo2-title), sans-serif;
};

h2{
    font-family: var(--font-exo2-title), sans-serif;
};

.puntoTitle{
    font-family: var(--font-exo2-title), sans-serif;
    color: rgb(var(--details-color));
    font-size: 60px;
};

.title{
    color: rgb(var(--title));
};

.subTitles{
    color: rgb(var(--subTitles));
};

.backgroundTwo{
    background: rgb(var(--backgroundTwo));
};



